<div>
<%= wicked_pdf_image_tag "099453b4-cb5b-4984-b978-e814bb43103c2x1.jpg" %>
<%= wicked_pdf_stylesheet_link_tag 'application', media: 'all' %>
  <%= wicked_pdf_javascript_include_tag 'application', media: 'all' %>
</div>